<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>Hóa học</div>
        <div>
            <div>
                <div>Virtual lab</div>
                <div>
                    <a>Thực nghiệm</a>
                    <a>Đại cương</a>
                    <a>Vô cơ - hữu cơ</a>
                    <a>Hoạt tính sinh học</a>
                </div>
            </div>
            <div>
                <div>Dự trù</div>
                <div>
                    <a>Hóa chất</a>
                    <a>Dụng cụ</a>
                    <a>Thiết bị</a>
                </div>
            </div>
            <div>
                <div>Giáo trình</div>
                <div>
                    <a>Đại cương</a>
                    <a>Vô cơ</a>
                    <a>Hóa học Hữu cơ</a>
                    <a>Thực nghiệm</a>
                </div>
            </div>
            <div>
                <div>Thực hành</div>
                <div>
                    <a>Câu hỏi chuẩn bị</a>
                    <a>Báo cáo thực hành</a>
                    <a>Điểm thực hành</a>
                </div>
            </div>
            <div>
                <div>Nhân sự</div>
                <div>
                    <a>Ban chủ nhiệm</a>
                    <a>Giảng viên</a>
                    <a>Tổ kĩ thuật</a>
                    <a>Lịch công tác</a>
                </div>
            </div>
            <div>
                <div>Nghiên cứu</div>
                <div>
                    <a>Đề tài cấp sở</a>
                    <a>Đề tài cáp tỉnh</a>
                    <a>Dề tài cấp quốc gia</a>
                </div>
            </div>
            <div>
                <div>Hợp tác quốc tế</div>
                <div>
                    <a>OLYMPIC hóa học sinh viên y khoa</a>
                    <a>OLYMPIC hóa học quốc tế</a>
                    <a>Diễn đàn hợp tác quốc tế</a>
                </div>
            </div>
            <div>
                <div>Tiếng anh chuyên ngành</div>
                <div>
                    <a>Từ vựng</a>
                    <a>Bài giảng song ngữ</a>
                    <a>Bài tập</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
