<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animated.css">
    <link rel="stylesheet" href="~/css/owl.css">
</head>
<body>
    @* header *@
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-action="Index" class="logo">
                            <h4>Sa<span>RLAB</span></h4>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <partial name="_Menu" />
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

      <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/templatemo-custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.querySelectorAll('.dropdown > a').forEach(menu => {
            menu.addEventListener('click', function (e) {
                e.preventDefault();
                let submenu = this.nextElementSibling;
                if (submenu.style.display === 'block') {
                    submenu.style.display = 'none';
                } else {
                    submenu.style.display = 'block';
                }
            });
        });

        document.addEventListener('click', function (e) {
            let isClickInside = document.querySelector('.nav').contains(e.target);
            if (!isClickInside) {
                document.querySelectorAll('.dropdown-menu').forEach(submenu => {
                    submenu.style.display = 'none';
                });
            }
        });
    </script>
</body>
</html>
