<style>
    .btn-custom-create {
        background: #04af60;
        padding: 7px 10px;
        border: none;
        border-radius: 7px;
        color: #ffffff;
        font-weight: 500;
        font-size: var(--text-xss);
        text-decoration: none;
    }

    .btn-custom-create:hover {
        background: #03904f;
        color: #ffffff;
        text-decoration: none;
    }

    .btn-custom-create i {
        margin-right: 5px;
    }
</style>

<a asp-area="" class="btn-custom-create" type="button">
    <i class="fa-solid fa-plus"></i>
    Thêm mới
</a>