<style>
    .btn-custom-return {
        background: #04af60;
        padding: 7px 20px;
        border: none;
        border-radius: 7px;
        color: #ffffff;
        font-weight: 500;
        font-size: var(--text-xss);
    }

    .btn-custom-return:hover {
        background: #03904f;
        color: #ffffff;
        text-decoration: none;
    }

    .btn-custom-return i {
        margin-right: 5px;
    }

</style>

<a asp-area="" class="btn-custom-return" type="button">
    <i class="fa-solid fa-angles-left"></i>
    Trở về
</a>