@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>
    .four_zero_four_bg {
        max-width: 50%;
        height: auto;
        background-position: center;
    }

    .page-error {
        text-align: center;
    }

    .page-error .title {
        margin-top: 20px;
        color: #1e64af;
    }

    .page-error .description {
        font-size: 16px;
    }

    .page-error a.btn-return {
        font-size: 16px;
        border-radius: 20px;
        padding: 5px 30px;
        background: #2268b3;
        color: #ffffff;
    }
</style>


<div class="container mt-5">
    <div class="row justify-content-center page-error">
        <div class="col-md-8">
            <div class="text-center">
                <img src="https://www.indiaherald.com/images/hp-images/error-mobile-500.png" alt="Nature" class="four_zero_four_bg" width="500" height="500">
                <h2 class="title">Oops, 403 Forbidden</h2>
                <p class="description">Bạn không có quyền truy cập trang này!</p>
            </div>

            <a type="button" href="javascript:history.back()" class="btn-return mt-3">Trở về</a>
        </div>
    </div>
</div>
