@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1c1c1c;
  max-width: 1920px;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* container */
.container {
  position: relative;
  width: 1450px;
  background-color: #1c1c1c;
  height: 960px;
}

/* tile-username */
.title-username {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  width: 1350px;
}
.title,
.username {
  justify-content: center;
  align-items: center;
}
.title {
  width: 1200px;
  display: flex;
  font-size: 60px;
  font-family: "Grey Qo", cursive;
  color: #f2ae82;
}

.username {
  width: 150px;
  display: flex;
  gap: 10px;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}
.username img {
  width: 50px;
}

/* video */
.video {
  width: 1200px;
  height: 450px;
  display: flex;
  padding-left: 250px;
  align-items: center;
}

.form-video {
  margin-top: 5px;
  background: linear-gradient(to bottom, #7c7b7b, #1c1c1c, #7c7b7b);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 670px;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form-video video {
  width: 100%;
  height: 360px;
}

/* sarlab */
.sarlab {
  position: absolute;
  width: 1350px;
  height: 390px;
  top: 160px;
  padding-left: 100px;
}
.new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1280px;
  padding-right: 70px;
}
.new img {
  border-radius: 10px;
  width: 120px;
}
.sar {
  margin-top: 5px;
  width: 850px;
  height: 300px;
  padding-right: 100px;
  background-color: rgba(214, 203, 203, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 300px;
}
.sar p {
  color: #8d6043;
  font-size: 70px;
  font-weight: bold;
}

.sar {
  color: white;
  font-size: 50px;
}

/* button */
.event {
  position: relative;
  margin-top: 5px;
  width: 1100px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding-left: 350px;
}
.event button {
  width: 240px;
  height: 60px;
}
/* library */
@font-face {
  font-family: "MyCustomFont";
  src: url("assets/DFVNEDLavonia/DFVN\ ED\ Lavonia.ttf");
}
.library {
  opacity: 0.8;
  color: #fff;
  background-color: #000000;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -13px -10px 11px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.library:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.library img#bt-li {
  width: 130px;
}

.event img#lock {
  position: absolute;
  width: 45px;
  right: 500px;
  bottom: -40px;
}

/* text */
.text {
  margin-top: 70px;
  width: 1450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content h2 {
  color: #f2e182;
}

.content p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

/* .............. */
/* LIBRARY_INDEX */
#li-index {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
/* header */
header {
  background: linear-gradient(to right, rgb(240, 236, 236), #ccc);
  width: 1300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infor,
.search {
  width: 620px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.infor {
  font-size: 12px;
  justify-content: flex-start;
}

.infor img {
  width: 60px;
}

.search {
  font-size: 12px;
  gap: 40px;
  justify-content: flex-end;
}

.tk {
  position: relative;
}
.tk input {
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
}
.fa-magnifying-glass {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 20px;
}
.fa-bars {
  font-size: 40px;
}
/* main */
main {
  width: 1370px;
  height: 800px;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nav */
main nav {
  width: 1300px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 760px;
  font-size: 40px;
  color: #f2ae82;
}

.menu {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.menu a {
  font-size: 27px;
  text-decoration: none;
  color: #ccc;
  opacity: 0.7;
  font-weight: bold;
}

.menu a:hover {
  cursor: pointer;
  transform: scale(0.9);
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.menu #active {
  transform: scale(1);
  opacity: 1;
  color: #f2ae82;
}

/* title_li */
.title_li {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-li {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_li img#li {
  width: 350px;
  height: 140px;
}

.title_li img {
  width: 70px;
}

/* book */
.book {
  position: relative;
  margin-top: 20px;
  width: 1270px;
  height: 560px;
  background-image: url("assets/img/library.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 68, 68, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: white;
}

/* content-book */
.content-book {
  width: 1270px;
  height: 560px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.content-book a {
  text-decoration: none;
  color: #fff;
}

.content-book ul {
  width: 1210px;
  height: 160px;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  display: flex;
  gap: 92px;
  list-style: none;
}
.content-book ul li {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 140px;
  height: 120px;
  padding: 10px 40px;
  border: 4px solid #ffb381;
  color: #fff;
  text-align: center;
  font-size: 22px;
  background-color: rgba(255, 251, 251, 0.1);
  z-index: 1;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content-book ul li:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 65px rgba(252, 153, 5, 0.9);
}

/* notif */
.notif {
  padding: 14px 20px;
  display: none;
  position: absolute;
  opacity: 0.5;
  right: 230px;
  top: -60px;
  width: 300px;
  border-radius: 10px;
  background-color: #494848;
  color: #fff;
  font-size: 17px;
  line-height: 26px;
}

button#pra:hover + .notif {
  display: block;
}

/* add-des */
button#add {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  height: 50px;
  padding: 10px 10px;
  background-color: #7c7b7b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

button#add:hover {
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}

/* f-li */
.f-li h1 {
  font-size: 63px;
  color: #f2ae82;
  font-family: "Grey Qo", cursive;
}

.des-li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.des-li h1 {
  overflow: hidden;
  white-space: nowrap;
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ......... */
/* LIBRARY DESCRIPTION */
.book-container {
  margin-top: 10px;
  width: 1300px;
  height: 550px;
}

.book-container a {
  text-decoration: none;
  color: #000000;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.book-item {
  background-color: #ccc;
  box-sizing: border-box;
  padding: 10px;
  flex: 1 0 30%;
  height: 170px;
  border: 3px solid rgb(155, 98, 24);
  border-radius: 3px;
}

.book-item img {
  float: left;
  width: 140px;
  height: 140px;
}

.an {
  display: block;
  display: -webkit-box;
  height: 18px * 1.5 * 5;
  font-size: 18px;
  line-height: 1.5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 5px;
}

.xx {
  background-color: #fff;
  border: 1px solid black;
  width: 100%;
  height: 139px;
}

.next,
.prev {
  position: absolute;
  text-decoration: none;
  color: #e7e7e7;
  font-size: 100px;
}

.next {
  opacity: 0.4;
  top: 560px;
  right: 20px;
}

.prev {
  opacity: 0.4;
  top: 560px;
  left: 20px;
}

.next:hover {
  transition: 0.2s ease-in-out;
  transform: scale(0.95);
  opacity: 1;
  color: #ffffff;
}

.prev:hover {
  transition: 0.2s ease-in-out;
  transform: scale(0.9);
  opacity: 1;
  color: #ffffff;
}

.page {
  margin: 15px;
  padding: 6px 11px;
  font-size: 12px;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.pagination {
  margin-bottom: 10px;
}

.pagination a.page.disabled {
  background-color: white;
  color: black;
  padding: 8px 13px;
  font-size: 14px;
}

/* ke */
.ke {
  opacity: 0.7;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: -14px;
  width: 1340px;
  height: 20px;
  background: linear-gradient(135deg, #8b5a2b, #d2b4a5, #8b5a2b, #d2b4a5);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* ......... */
/* detail */
.form_detail {
  margin-top: 10px;
  background-color: #d2b4a5;
  width: 905px;
  height: 600px;
  border-radius: 2px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_detail embed {
  width: 840px;
  margin-right: 10px;
  height: 570px;
  border-radius: 10px;
}

.conti img {
  width: 40px;
}

.conti img:hover {
  cursor: pointer;
  width: 40px;
}

.note {
  width: 0px;
  height: 570px;
  border-radius: 30px;
  margin-left: 7px;
  background-color: #c59568;
  overflow: hidden;
  transition: width 0.2s ease-in;
}

.note h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.text_note {
  margin-top: 10px;
  width: 340px;
  height: 450px;
  background-color: #e9e9e9;
}
.back {
  margin-top: 20px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back img {
  width: 50px;
}

.controls {
  margin-bottom: 10px;
}

#noteInput {
  width: 370px;
  height: calc(100%);
  box-sizing: border-box;
  outline: none;
}

#noteInput {
  display: block;
  padding: 10px;
}

@media (max-width: 468px) {
  .page {
    font-size: 10px;
    margin: 5px;
    padding: 4px 7px;
  }
  /* books */
  .books {
    height: 350px;
  }
  /* ke */
  .ke {
    display: none;
  }
  /* title_li */
  #list-title {
    margin-top: -100px;
    flex-direction: column;
    height: 600px;
  }

  .f-li,
  .des-li {
    margin-top: 10px;
    flex-direction: column;
    gap: 0px;
  }

  .des-li h1 {
    font-size: 36px;
  }

  .book-container {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .next {
    font-size: 30px;
    top: -10px;
    right: -20px;
  }

  .prev {
    font-size: 30px;
    top: -10px;
    left: -18px;
  }

  .book-item {
    flex: 1 0 100%;
  }

  .pagination a.page.disabled {
    padding: 4px 10px;
  }
  .pagination {
    position: absolute;
    top: 520px;
    right: 360px;
  }

  /* add */
  button#add {
    position: absolute;
    width: 100px;
    font-size: 12px;
    margin-top: 350px;
    margin-left: -210px;
  }
  /* notif */
  .notif {
    right: 20px;
    top: 110px;
    width: 270px;
    font-size: 15px;
    line-height: 24px;
  }
  /* container */
  .container {
    width: 370px;
    height: 1500px;
  }
  /* tile-username */
  .title-username {
    padding-left: 20px;
  }
  .title {
    width: 210px;
    font-size: 18px;
  }
  .username img {
    margin-top: 35px;
    width: 30px;
  }
  /* video */
  .video {
    width: 350px;
    padding-left: 12px;
  }

  .form-video {
    margin-top: -160px;
    padding: 10px;
    width: 640px;
    height: 190px;
  }
  .form-video video {
    height: 190px;
  }

  /* sarlab */
  .sarlab {
    height: 250px;
    top: 180px;
    width: 200px;
    padding-left: 5px;
  }
  .new {
    margin-top: -70px;
    width: 350px;
  }
  .new img {
    border-radius: 10px;
    width: 80px;
  }
  .sar {
    padding-left: 70px;
    width: 200px;
    height: 150px;
  }
  .sar h1 {
    font-size: 50px;
  }
  .sar p {
    font-size: 35px;
  }
  /* button */
  .event {
    width: 350px;
    gap: 10px;
    flex-direction: column;
    margin-top: -165px;
    padding-left: 10px;
    margin-bottom: 50px;
  }
  .event button {
    width: 180px;
    height: 50px;
    font-size: 15px;
  }

  .event img#lock {
    width: 25px;
    bottom: -20px;
    right: 80px;
  }

  /* text */
  .text {
    width: 370px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 600px;
  }
  .content {
    height: 100px;
  }
  .content h2 {
    font-size: 18px;
  }

  .content p {
    line-height: 20px;
    font-size: 17px;
  }

  /*.............  */
  /* LIBRARY_index*/
  #li-index {
    height: 3000px;
    width: 800px;
  }

  .main {
    width: 370px;
  }

  header {
    flex-direction: column;
    width: 370px;
    background-color: #f2ae82;
  }

  .infor {
    gap: 0px;
    flex-direction: column;
    width: 100px;
    font-size: 7px;
  }

  .infor img {
    width: 35px;
  }

  .search {
    margin-top: 10px;
    width: 340px;
  }

  .search input {
    width: 200px;
    font-size: 10px;
  }

  .search h1 {
    font-size: 15px;
  }

  .fa-magnifying-glass {
    font-size: 11px;
  }

  .fa-bars {
    font-size: 25px;
  }

  nav {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .logo {
    font-size: 30px;
    width: 350px;
  }
  .menu {
    width: 350px;
  }
  .menu a {
    font-size: 20px;
  }

  .title_li {
    justify-content: center;
    width: 350px;
  }

  .f-li {
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .title_li img#li {
    width: 110px;
    height: 50px;
  }

  .title_li img {
    margin-right: 30px;
    width: 40px;
  }

  .book {
    background-image: none;
    width: 350px;
  }
  .content-book {
    width: 350px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .content-book ul {
    gap: 20px;
    width: 260px;
    height: 800px;
    flex-direction: column;
    background-image: url("assets/img/library.png");
    background-size: 390% 75%;
  }

  .content-book ul li {
    width: 220px;
    height: 110px;
  }

  .overlay {
    top: -30px;
    height: 1980px;
    border-radius: 30px;
  }
}

@media (min-width: 469px) and (max-width: 968px) {
  /* form-detail */
  .form_detail {
    width: 720px;
  }

  .note_f {
    margin-top: 200px;
  }
  .page {
    font-size: 10px;
    margin: 5px;
    padding: 4px 7px;
  }
  /* books */
  .books {
    height: 350px;
  }
  /* ke */
  .ke {
    display: none;
  }
  /* title_li */
  #list-title {
    margin-top: 0px;
    flex-direction: column;
    height: 600px;
  }

  .f-li,
  .des-li {
    margin-top: 20px;
    flex-direction: column;
    gap: 0px;
  }

  .book-container {
    width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .next {
    font-size: 40px;
    top: -20px;
    right: -20px;
  }

  .prev {
    font-size: 40px;
    top: -20px;
    left: -20px;
  }

  .book-item {
    flex: 1 0 100%;
  }

  .pagination {
    position: absolute;
    top: 520px;
    right: 210px;
  }

  /* add */
  button#add {
    position: absolute;
    margin-top: 290px;
    margin-left: -500px;
  }

  /* notif */
  .notif {
    right: 480px;
    top: -70px;
    width: 270px;
    font-size: 15px;
    line-height: 24px;
  }
  /* container */
  .container {
    width: 720px;
    height: 1300px;
  }
  /* tile-username */
  .title {
    width: 520px;
    font-size: 40px;
  }
  .username img {
    margin-top: 35px;
    width: 30px;
  }
  /* video */
  .video {
    width: 550px;
    padding-left: 90px;
  }

  .form-video {
    margin-top: -60px;
    padding: 10px;
    width: 640px;
    height: 310px;
  }
  .form-video video {
    height: 340px;
  }

  /* sarlab */
  .sarlab {
    height: 250px;
    top: 180px;
    width: 500px;
    padding-left: 50px;
  }
  .new {
    margin-top: -70px;
    width: 650px;
  }
  .new img {
    border-radius: 10px;
    width: 80px;
  }
  .sar {
    padding-left: 150px;
    width: 390px;
    height: 250px;
  }
  /* button */
  .event {
    margin-top: -45px;
    padding-left: 100px;
  }

  .event img#lock {
    width: 35px;
    bottom: -30px;
  }

  /* text */
  .text {
    width: 700px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 600px;
  }
  .content {
    height: 100px;
  }
  .content h2 {
    font-size: 18px;
  }

  .content p {
    line-height: 20px;
    font-size: 17px;
  }

  /*.............  */
  /* LIBRARY_index*/
  #li-index {
    height: 1000px;
    width: 800px;
  }

  .main {
    width: 800px;
  }

  header {
    width: 700px;
    background-color: #f2ae82;
  }

  .infor {
    gap: 0px;
    flex-direction: column;
    width: 100px;
    font-size: 10px;
  }

  .search {
    width: 550px;
  }

  nav {
    margin-top: 30px;
    width: 700px;
  }

  .logo {
    font-size: 30px;
    width: 100px;
  }
  .menu {
    width: 550px;
  }
  .menu a {
    font-size: 20px;
  }

  .title_li {
    justify-content: space-between;
    width: 700px;
  }

  .f-li {
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .title_li img#li {
    width: 220px;
    height: 90px;
  }

  .title_li img {
    margin-right: 30px;
    width: 40px;
  }

  .book {
    background-image: none;
    width: 700px;
  }
  .content-book {
    width: 700px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .content-book ul {
    gap: 20px;
    width: 500px;
    height: 800px;
    flex-direction: column;
    background-image: url("assets/img/library.png");
    background-size: 390% 75%;
  }

  .content-book ul li {
    width: 400px;
    height: 140px;
  }

  .overlay {
    top: -30px;
    height: 2380px;
    border-radius: 30px;
  }
}

@media (min-width: 969px) and (max-width: 1600px) {
  /* container */
  .container {
    width: 1500px;
    height: 750px;
  }
  /* tile-username */
  .title {
    width: 1200px;
    font-size: 40px;
  }
  .username img {
    margin-top: 5px;
    width: 30px;
  }
  /* video */
  .video {
    width: 1150px;
    padding-left: 300px;
  }

  .form-video {
    margin-top: -35px;
    padding: 10px;
    width: 620px;
    height: 350px;
  }
  .form-video video {
    height: 340px;
  }

  /* sarlab */
  .sarlab {
    top: 100px;
    padding-left: 100px;
  }
  .new img {
    border-radius: 10px;
    width: 100px;
  }
  .sar {
    height: 250px;
  }
  .sar p {
    font-size: 50px;
  }

  .sar {
    font-size: 40px;
  }

  /* button */
  .event {
    margin-top: -45px;
  }

  .event img#lock {
    width: 35px;
    bottom: -30px;
  }

  /* text */
  .text {
    margin-top: 40px;
  }
  .content h2 {
    font-size: 18px;
  }

  .content p {
    line-height: 20px;
    font-size: 17px;
  }

  /*.............  */
  /* LIBRARY_index*/
  #li-index {
    height: 1000px;
  }
}
