<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a asp-area="" asp-controller="Configuration" asp-action="Index">Configuration</a>

    <a asp-area="" asp-controller="Chemistry" asp-action="GetAll_ScientificResearch">Hoá học</a>
    <div>
        <div>Nghiên cứu khoa học</div>
        <a asp-area="" asp-controller="Chemistry" asp-action="GetAll_ScientificResearch">Quản lý đề tài</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Create_TopicScientificResearch">Tạo đề tài</a>
        <a asp-area ="" asp-controller="Chemistry" asp-action="Create_ScientificResearch">Tạo bài viết</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Browse_TopicScientificResearch">Duyệt đề tài</a>
    </div>

    <div>
        <div>Bài báo khoa học</div></>
        <a asp-area="" asp-controller="Chemistry" asp-action="GetAll_PaperResearch">Quản lý bài báo</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Create_PaperResearch">Thêm đề tài</a>
        <a asp-area ="" asp-controller="Chemistry" asp-action="Browse_PaperResearch">Duyệt đề tài</a>
    </div>

    <div>
        <div>Dụng cụ thí nghiệm</div>
        <a asp-area="" asp-controller="Chemistry" asp-action="GetAll_Equipment">Quản lý dụng cụ</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Create_Equipment">Thêm dụng cụ thí nghiệm</a>
    </div>

    <div>
        <div>Giáo trình</div>
        <a asp-area="" asp-controller="Chemistry" asp-action="GetAll_PlanDetail">Quản lý giáo trình</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Create_PlanDetail">Thêm giáo trình</a>
    </div>

    <div>
        <div>Thực hành</div>
        <a asp-area="" asp-controller="Chemistry" asp-action="GetAll_PracticePlan">Bài thực hành</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Safety_PracticePlan">An toàn thí nghiệm</a>
        <a asp-area="" asp-controller="Chemistry" asp-action="Point_PracticePlan">Điểm thực hành</a>
    </div>



    <a>Sinh học</a>
    <div>
        <div>Nghiên cứu khoa học</div>
        <a>Quản lý bài viết</a>
        <a>Tạo đề tài</a>
        <a>Tạo bài viết</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Bài báo khoa học</div></>
        <a>Quản lý bài báo</a>
        <a>Thêm đề tài</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Dụng cụ thí nghiệm</div>
        <a>Quản lý dụng cụ</a>
        <a>Thêm dụng cụ thí nghiệm</a>
    </div>

    <div>
        <div>Giáo trình</div>
        <a>Quản lý giáo trình</a>
        <a>Thêm giáo trình</a>
    </div>

    <div>
        <div>Thực hành</div>
        <a>Bài thực hành</a>
        <a>An toàn thí nghiệm</a>
        <a>Điểm thực hành</a>
    </div>


    <a>Vật lý</a>
    <div>
        <div>Nghiên cứu khoa học</div>
        <a>Quản lý bài viết</a>
        <a>Tạo đề tài</a>
        <a>Tạo bài viết</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Bài báo khoa học</div></>
        <a>Quản lý bài báo</a>
        <a>Thêm đề tài</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Dụng cụ thí nghiệm</div>
        <a>Quản lý dụng cụ</a>
        <a>Thêm dụng cụ thí nghiệm</a>
    </div>

    <div>
        <div>Giáo trình</div>
        <a>Quản lý giáo trình</a>
        <a>Thêm giáo trình</a>
    </div>

    <div>
        <div>Thực hành</div>
        <a>Bài thực hành</a>
        <a>An toàn thí nghiệm</a>
        <a>Điểm thực hành</a>
    </div>


    <a>Toán Học</a>
    <div>
        <div>Nghiên cứu khoa học</div>
        <a>Quản lý bài viết</a>
        <a>Tạo đề tài</a>
        <a>Tạo bài viết</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Bài báo khoa học</div></>
        <a>Quản lý bài báo</a>
        <a>Thêm đề tài</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Dụng cụ thí nghiệm</div>
        <a>Quản lý dụng cụ</a>
        <a>Thêm dụng cụ thí nghiệm</a>
    </div>

    <div>
        <div>Giáo trình</div>
        <a>Quản lý giáo trình</a>
        <a>Thêm giáo trình</a>
    </div>

    <div>
        <div>Thực hành</div>
        <a>Bài thực hành</a>
        <a>An toàn thí nghiệm</a>
        <a>Điểm thực hành</a>
    </div>

    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
