<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a asp-area="" asp-controller="Configuration" asp-action="Index">Configuration</a>
    <a asp-area="" asp-controller="Configuration" asp-action="Index">Hoá học</a>
    <a>Sinh học</a>
    <a>Vật lý</a>
    <a>Toán Học</a>

    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
