

<a asp-area="" asp-controller="Configuration" asp-action="Index">Configuration</a>
<div>
    <div>Nghiên cứu khoa học</div>
    <a>Quản lý bài viết</a>
    <a>Tạo đề tài</a>
    <a>Tạo bài viết</a>
    <a>Duyệt đề tài</a>
</div>

<div>
    <div>Bài báo khoa học</div></>
    <a>Quản lý bài báo</a>
    <a>Thêm đề tài</a>
    <a>Duyệt đề tài</a>
</div>

<div>
    <div>Dụng cụ thí nghiệm</div>
    <a>Quản lý dụng cụ</a>
    <a>Thêm dụng cụ thí nghiệm</a>
</div>

<div>
    <div>Giáo trình</div>
    <a>Quản lý giáo trình</a>
    <a>Thêm giáo trình</a>
</div>

<div>
    <div>Thực hành</div>
    <a>Bài thực hành</a>
    <a>An toàn thí nghiệm</a>
    <a>Điểm thực hành</a>
</div>