body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url("../assets/img/home_lg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #c78614;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  color: #fff;
  transform: translateX(-25%);
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.container.active {
  opacity: 1;
}

.login-form h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #c78614;
  text-align: center;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffb703;
  font-size: 12px;
  opacity: 1;
}
.input-box label {
  color: #e5e4e2;
  opacity: 0.5;
}
.login-btn {
  background: rgba(223, 133, 14, 0.7);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #ffa200;
}

p {
  text-align: center;
}

p a {
  color: #ffb703;
  text-decoration: none;
  transition: color 0.3s ease;
}

p a:hover {
  color: #ffa200;
}

.title-sar{
    left: 270px;
    position: absolute;
    font-size: 70px;
    opacity: 0.6;
    color: #e5e4e2;
}

@media (min-width: 469px) and (max-width: 968px){
    .title-sar{
        display: none;
    }
}