.containers {
    background: radial-gradient(circle, rgb(57 57 57) 0%, rgb(0 0 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #2e2e2e7a;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
}

    .login-container h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }

.form-group {
    position: relative;
}

    .form-group .form-control {
        padding-left: 2.5rem;
    }

    .form-group img {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #aaa;
        width: 20px;
    }

.form-control {
    background: #d7d7d7;
    border-radius: 5px;
    border: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 17px;
}

    .form-control:focus {
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        outline: none;
    }

.form-control-select {
    background: #d7d7d7 !important;
    color: #000 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #d7d7d7 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

.btn-primary {
    color: white;
    background: #141414;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

    .btn-primary:hover {
        background: #4b4b4b;
    }

.divider {
    background: #6f6f6f;
    height: 1px;
    margin: 20px 100px;
}

.text-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .text-signup p {
        margin: 0px;
        color: #ababab;
    }

    .text-signup a {
        color: white;
        font-weight: 500;
        margin-left: 5px;
        cursor: pointer;
        text-decoration: none;
    }

.text-danger {
    font-style: italic;
    color: hsl(11deg 100% 50%);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #333;
    border-color: #333;
}

.forgot-password,
.create-account {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

    .forgot-password:hover,
    .create-account:hover {
        text-decoration: underline;
    }


@media (max-width: 500px) {
    .text-signup {
        flex-direction: column;
    }

        .text-signup a {
            margin-top: 10px;
        }
}
