@model SaRLAB.Models.Dto.LoginDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Login/_LayoutLogin.cshtml";
}

<form asp-action="Login" class="sign-in-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h2 class="title">Đăng Nhập</h2>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input asp-for="Email" type="text" placeholder="Email" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" type="password" placeholder="Mật khẩu" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    <input type="submit" value="Đăng nhập" class="btn solid" />
    @if (TempData["Error"] != null)
    {
        <div>
            <span class="text-danger"><b>Sorry!</b> - @TempData["Error"] </span>
        </div>
    }
</form>

<form asp-action="Register" class="sign-up-form">
    <h2 class="title">Đăng Ký</h2>
    <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input asp-for="Email" type="email" placeholder="Email" />
    </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" />
    </div>
    <input type="submit" class="btn" value="Đăng ký" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
