<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <div>Cấu hình</div>
        <a asp-area="" asp-action="BannerConfig">BannerConfig</a>
    </div>

    <div>
        <div>Quản lý nhân sự</div>
        <a asp-area="" asp-action="GetAllUser">Quản lý người dùng</a>
        <a asp-area="" asp-action="GetUsedByRole">Phân loại người dùng</a>
        <a asp-area="" asp-action="InsertUser">Thêm mới người dùng</a>

    </div>

    <div>
        <div>Nghiên cứu khoa học</div>
        <a>Quản lý bài viết</a>
        <a>Tạo đề tài</a>
        <a>Tạo bài viết</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        <div>Bài báo khoa học</div></>
        <a>Quản lý bài báo</a>
        <a>Thêm đề tài</a>
        <a>Duyệt đề tài</a>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
