@model SaRLAB.Models.Entity.ScientificResearch

@{
    ViewData["Title"] = "Edit_TopicScientificResearch";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<div id="sub-content">
    <h1>Edit_TopicScientificResearch</h1>

    <h4>ScientificResearch</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit_TopicScientificResearch">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateBy" class="control-label"></label>
                    <input asp-for="CreateBy" class="form-control" />
                    <span asp-validation-for="CreateBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateTime" class="control-label"></label>
                    <input asp-for="CreateTime" class="form-control" />
                    <span asp-validation-for="CreateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateBy" class="control-label"></label>
                    <input asp-for="UpdateBy" class="form-control" />
                    <span asp-validation-for="UpdateBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateTime" class="control-label"></label>
                    <input asp-for="UpdateTime" class="form-control" />
                    <span asp-validation-for="UpdateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationDate" class="control-label"></label>
                    <input asp-for="PublicationDate" class="form-control" />
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserVerifyFlag" class="control-label"></label>
                    <input asp-for="UserVerifyFlag" class="form-control" />
                    <span asp-validation-for="UserVerifyFlag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminVerifyFlag" class="control-label"></label>
                    <input asp-for="AdminVerifyFlag" class="form-control" />
                    <span asp-validation-for="AdminVerifyFlag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubjectId" class="control-label"></label>
                    <input asp-for="SubjectId" class="form-control" />
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
