@model SaRLAB.Models.Entity.ScientificResearch

@{
    ViewData["Title"] = "Edit_TopicScientificResearch";
    ViewBag.TitleCustom = "Chỉnh sửa đề tài";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<div id="sub-content">
    <div class="d-flex justify-content-between">
        <partial name="TitleCustom">
        <a asp-area="" asp-controller="Configuration" asp-action="GetAll_ScientificResearch" class="btn-custom-return"
            type="button">
            <i class="fa-solid fa-angles-left"></i>
            Trở về
        </a>
    </div>
    <div class="form-container">
        <form asp-action="Edit_TopicScientificResearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="ID" class="form-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger form-text"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-3 form-label">Tên đề tài</label>
                <div class="col">
                    <input asp-for="Name" class="form-control" placeholder="Nhập tên" />
                    <span asp-validation-for="Name" class="text-danger form-text"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Author" class="col-3 form-label">Tác giả</label>
                <div class="col">
                    <input asp-for="Author" class="form-control" placeholder="Nhập tác giả" />
                    <span asp-validation-for="Author" class="text-danger form-text"></span>
                </div>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreateBy" class="form-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger form-text"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreateTime" class="form-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger form-text"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="UpdateBy" class="form-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger form-text"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="UpdateTime" class="form-label"></label>
                <input asp-for="UpdateTime" class="form-control" />
                <span asp-validation-for="UpdateTime" class="text-danger form-text"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PublicationDate" class="col-3 form-label">Ngày xuất bản</label>
                <div class="col">
                    <input asp-for="PublicationDate" type="date" class="form-control" placeholder="Chọn ngày xuất bản" />
                    <span asp-validation-for="PublicationDate" class="text-danger form-text"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="remark" class="col-3 form-label">Nhận xét</label>
                <div class="col">
                    <input asp-for="remark" class="form-control" placeholder="Nhập nhận xét" />
                    <span asp-validation-for="remark" class="text-danger form-text"></span>
                </div>
            </div>
            <div class="form-group d-none">
                <label asp-for="UserVerifyFlag" class="form-label"></label>
                <input asp-for="UserVerifyFlag" class="form-control" />
                <span asp-validation-for="UserVerifyFlag" class="text-danger form-text"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="AdminVerifyFlag" class="form-label"></label>
                <input asp-for="AdminVerifyFlag" class="form-control" />
                <span asp-validation-for="AdminVerifyFlag" class="text-danger form-text"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="SubjectId" class="form-label"></label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
