<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <div>Cấu hình</div>
        <a asp-area="" asp-action="GetAllBanner">BannerConfig</a>
        <a asp-area="" asp-action="InsertBanner">Theem banner</a>
    </div>

    <div>
        <div>Quản lý nhân sự</div>
        <a asp-area="" asp-action="GetAllUser">Quản lý người dùng</a>
        <a asp-area="" asp-action="GetUsedByRole">Phân loại người dùng</a>
        <a asp-area="" asp-action="InsertUser">Thêm mới người dùng</a>

    </div>


    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
