@model SaRLAB.Models.Entity.SubjectFlag

@{
    ViewData["Title"] = "Edit_User";
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<div id="sub-content">
    <div class="d-flex justify-content-between">
        <partial name="TitleCustom">
            <a asp-area="" asp-controller="Configuration" asp-action="GetAll_User" class="btn-custom-return" type="button">
                <i class="fa-solid fa-angles-left"></i>
                Trở về
            </a>
            <a asp-area="" asp-controller="Configuration" asp-action="GetAll_User" class="btn-custom-return btn-custom-return-trigger" type="button">
                <i class="fa-solid fa-angles-left"></i>
            </a>
    </div>
    <div class="form-container">
        <form asp-action="Edit_User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserEmail" class="col-4 form-label">Email người dùng</label>
                <div class="col">
                    <input asp-for="UserEmail" class="form-control" placeholder="Nhập email" />
                    <span asp-validation-for="UserEmail" class="text-danger form-text"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MathPermissionFlag" class="col-4 control-label">Quyền truy cập môn Hoá Sinh</label>
                <select asp-for="MathPermissionFlag" class="col form-control" style="margin-left: 7px; margin-right: 7px;">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="MathPermissionFlag" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="MathMarkFlag" class="control-label"></label>
                <input asp-for="MathMarkFlag" class="form-control" />
                <span asp-validation-for="MathMarkFlag" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PhysicPermissionFlag" class="col-4 control-label">Quyền truy cập môn Vật Lý</label>
                <select asp-for="PhysicPermissionFlag" class="col form-control" style="margin-left: 7px; margin-right: 7px;">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="PhysicPermissionFlag" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="PhysicMarkFlag" class="control-label"></label>
                <input asp-for="PhysicMarkFlag" class="form-control" />
                <span asp-validation-for="PhysicMarkFlag" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="ChemistryPermissionFlag" class="col-4 control-label">Quyền truy cập môn Hóa Học</label>
                <select asp-for="ChemistryPermissionFlag" class="col form-control" style="margin-left: 7px; margin-right: 7px;">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="ChemistryPermissionFlag" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ChemistryMarkFlag" class="control-label"></label>
                <input asp-for="ChemistryMarkFlag" class="form-control" />
                <span asp-validation-for="ChemistryMarkFlag" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="BiologyPermissionFlag" class="col-4 control-label">Quyền truy cập môn Sinh Học</label>
                <select asp-for="BiologyPermissionFlag" class="col form-control" style="margin-left: 7px; margin-right: 7px;">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="BiologyPermissionFlag" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="BiologyMarkFlag" class="control-label"></label>
                <input asp-for="BiologyMarkFlag" class="form-control" />
                <span asp-validation-for="BiologyMarkFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
