<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animated.css">
    <link rel="stylesheet" href="~/css/owl.css">
</head>
<body id="bg-phys">
    @* header *@
    <header class="header-area header-area-phys header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-controller="Physics" asp-action="Index" class="logo">
                            <img src="@Url.Content("~/images/logo.png")" />
                            <h4>SaR<span>LAB</span></h4>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <partial name="_MenuPhysics" />
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            document.querySelector('a.menu-trigger').addEventListener('click', function () {
                var nav = document.querySelector('.nav');
                if (nav.style.display === 'none' || nav.style.display === '') {
                    nav.style.display = 'block';
                } else {
                    nav.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
