@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Chemistry/_LayoutChem.cshtml";
}

@* banner *@
<section class="hero hero-chem d-flex flex-column justify-content-center align-items-center " id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <h1 class="text-white wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s" style="font-size: 45px !important;">Welcome to CHemLAB</h1>
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        Room management utility application. SaR LAB promises optimal work and facilitates creativity in research!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
