@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Subject_5/_Layout.cshtml";
}

@* banner *@
<section class="hero hero-bio d-flex flex-column justify-content-center align-items-center " id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <h1 class="text-white wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s" style="font-size: 45px !important;">Welcome to @TempData["Subject_1"]</h1>
                    <<div class="group-home d-flex wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                        <a class="group-btn-home group-rules d-flex" asp-controller="Subject_5" asp-action="Index">
                            <img class="img-rules" src="@Url.Content("~/images/rules.png")" />
                            <p>Nội quy<br>phòng thí nghiệm</p>
                        </a>
                        <a class="group-btn-home group-news d-flex" asp-controller="Subject_5" asp-action="Index">
                            <img class="img-news" src="@Url.Content("~/images/news.png")" />
                            <p>Tin tức - News</p>
                            <label class="txt-news">New</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
