@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Biology/_Layout.cshtml";
}

@* banner *@
<section class="hero hero-bio d-flex flex-column justify-content-center align-items-center " id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <h1 class="text-white wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">Welcome to the Biology Lab</h1>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                        Ứng dụng quản lý phòng thí nghiệm tiện ích. SaR LAB hứa hẹn tối ưu hóa công việc và tạo điều kiện cho sáng tạo trong nghiên cứu!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
